/*********************************************************************
* Barra de navegación 
*********************************************************************/
.pnt-navbar .pnt-navbar-somospnt{
    font-weight: 500;
    color:grey;
}

/*********************************************************************
* Header
*********************************************************************/
.pnt-header {
    background-image: url("../img/bg.png");
    background-size: 8%;
    background-color: #B84D45;
    border-radius: 0%;
    padding: 2.5%;
    margin-bottom: 1%
}

.pnt-header p{
    font-size: 1.2em;
}

.pnt-header .pnt-header-titulo {
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1.5%;
    font-size: 2.5em;
}

/*********************************************************************
* Heading Clientes
*********************************************************************/
.pnt-heading-clientes{
    font-size: 1.4em;
    margin-bottom: 0%;
}

.pnt-heading-clientes + p{
    font-size: 1.1em;
}

/*********************************************************************
* Cards Clientes
*********************************************************************/
.pnt-card-logo-cliente {
    height: 16%;
    width: 13%;
    padding-right: 1%;
    padding-top: 1%;
    border-radius: 13.5%;
}

.pnt-card-contenedor .pnt-card-heading{
    font-size: 0.85em;
    margin-bottom: 0%;
}

.pnt-card-contenedor-parrafo p {
    font-size: 0.85em;
    margin-bottom: 0%;
}

.pnt-card-contenedor{
    padding-top: 0%;
    padding-bottom: 3%;
} 

.pnt-card-contenedor-parrafo{
    padding-left: 3%;
}

.pnt-card-contenedor-cliente{
    padding-top: 3%;
    padding-left: 3%;
    margin-right: 0%;
    padding-right: 0%;
}

/*********************************************************************
* Footer
*********************************************************************/
.pnt-footer .pnt-footer-somospnt {
    color: #bd576c;
}

.pnt-footer .pnt-footer-puntos{
    font-size: 70%;
}

/*********************************************************************
* Colores
*********************************************************************/
.pnt-color-celeste {
    color: #32a0e5;
}

.pnt-color-azul {
    color: #21619e;
}

.pnt-color-naranja {
    color: #c43f2b;
}

.pnt-color-naranja-claro {
    color: #D5A6A2;
}

.pnt-color-gris{
    color: #424344;
}

.pnt-color-rojo{
    color: #B84D45;
}


/*********************************************************************
* Botones
*********************************************************************/
.pnt-boton-eliminar{
    background-color: #B84D45;
    color:white;
}

.pnt-boton-agregar-entrevista{
    background-color: #B84D45;
    color:white;
}

/*********************************************************************
* Margen
*********************************************************************/
.pnt-margen-superior {
    margin-top: 2.5%;
}

/*********************************************************************
* Padding
*********************************************************************/
.pnt-quitar-padding-lados{
    padding-right: 0%;
    padding-left: 0%;
}

.pnt-quitar-padding-inferior{
    padding-bottom: 0%;
}

.pnt-padding-inferior {
    padding-bottom: 2%;
}

/*********************************************************************
* Fuente
*********************************************************************/
.pnt-fuente-arial{
    font-family: Arial, Helvetica, sans-serif;
}

.pnt-texto-sin-estilo:hover{
    text-decoration: none;
    color:white;
}

.pnt-texto-sin-estilo-gris:hover{
    text-decoration: none;
    color:grey;
}
