<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <title>Guardar Entrevista</title>
    </head>
    <body>
        <!-- Navbar -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light pnt-quitar-padding-lados pnt-navbar">
                <a class="navbar-brand pnt-navbar-somospnt" href="#">Somos PNT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pnt-quitar-padding-lados" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Artículos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Salir</a></li>
                </ul>
            </nav>
        </div>
        
        <!-- Header -->
        <div class="jumbotron pnt-header">
            <div class="container">
                <h2 class="pnt-header-titulo">Entrevistas</h2>
                <p class="pnt-color-naranja-claro">Registrá tus entrevistas</p>
            </div>
        </div>
        
        <!-- Breadcrumb -->
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="pnt-color-rojo pnt-texto-sin-estilo-gris" href="/entrevistas">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Registrar entrevista</li>
                </ol>
            </nav>
        </div>
        
        <!-- Mensaje error del backend -->
        <th:block th:if="${mensajeError} != null">
            <div class="container">    
                <div class="alert alert-danger" role="alert">
                    <a th:text="${mensajeError}"></a>
                </div>
            </div>
        </th:block>
        
        <!-- Form -->
        <div class="container">
            <form th:action="@{/guardar-entrevista}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="nombreEntrevistado" placeholder="Nombre" required pattern="^[A-Za-z]+$" >
                            <small class="form-text text-muted">No puede contener números ni espacios.</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido</label>
                        <input type="text" class="form-control" name="apellidoEntrevistado" placeholder="Apellido" pattern="^[a-zA-Z\s]+$">
                            <small class="form-text text-muted">No puede contener números.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Fecha</label>
                        <input type="datetime-local" name="fecha" class="form-control" required>
                    </div>
                </div>
                <div class="form-check pnt-padding-inferior">
                    <input type="checkbox" name="realizada" class="form-check-input">
                        <label class="form-check-label" for="exampleCheck1">Realizada</label>
                </div>
                <button type="submit" class="btn btn-primary pnt-texto-sin-estilo">Guardar</button>
            </form>

            <br class="pnt-margen-superior">
                
                <!-- Cards clientes -->
                <div class="container text-center pnt-margen-superior">
                    <h4 class="pnt-heading-clientes pnt-fuente-arial"><b>Clientes</b></h4>
                    <p class="pnt-fuente-arial pnt-color-gris">Confían en nosotros</p>
                </div>


                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <div class="card">
                            <div class="card-body pnt-card-contenedor">
                                <div class="row container pnt-card-contenedor-cliente">
                                    <img class="pnt-card-logo-cliente" th:src="@{/img/movistar-logo.png}">
                                        <div class="col-10 col-sm-10 col-md-8 pnt-card-contenedor-parrafo">
                                            <h5 class="pnt-card-heading">Movistar</h5>
                                            <p class="pnt-color-gris">La empresa líder en <br> telecomunicaciones</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body pnt-card-contenedor">
                                <div class="row container pnt-card-contenedor-cliente">
                                    <img class="pnt-card-logo-cliente" th:src="@{/img/bancosaenz-logo.png}">
                                        <div class="col-10 col-sm-10 col-md-10 pnt-card-contenedor-parrafo">
                                            <h5 class="pnt-card-heading">Banco Saenz</h5>
                                            <p class="pnt-color-gris">Créditos y tarjetas virtuales, únicas en<br> Argentina</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        <!-- Footer -->
        <footer class="page-footer pnt-footer pnt-margen-superior">
            <hr class="pnt-margen-superior"/>
            <div class="container text-center pnt-padding-inferior">
                <ul class="list-unstyled list-inline pnt-footer-puntos">
                    <li class="list-inline-item">
                        <span class="fas fa-circle fa-3x pnt-color-celeste"></span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fas fa-circle fa-3x pnt-color-azul"></span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fas fa-circle fa-3x pnt-color-naranja"></span>
                    </li>
                </ul>
            </div>

            <div class="container text-center pnt-quitar-padding-inferior">
                <h6><span class="pnt-footer-somospnt">SomosPNT</span>-Desarrollamos Software</h6>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>

</html>
